name: Embed examples into README

on:
  pull_request:
    branches:
    - main

jobs:
  auto-update-readme:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: Update Readme
      run: python tools/embed_code.py -i --file ./README.md

    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Updated README.md
